<div id="search_carpool" class="center">
  <h1>Find a carpool</h1>
</div>

<div class="row center">
  <%= form_for :ride, url: search_rides_url, method: :get do |form| %>
      <%= form.text_field :origin, placeholder: "Origin", class: "search-query" %>
      <%= form.text_field :destination, placeholder: "Destination", class: "search-query" %>
      <%= form.submit "Search", class: "btn btn-large btn-success" %>
  <% end %>
</div>

<div class="center">
  <h1>OR</h1>
</div>

<div class="row center mt30">
  <%= link_to "Request or Offer a Ride", new_ride_path, :id => "create_new_ride", :class => "btn btn-large btn-primary" %>
</div>