<div>
  <%= form.radio_button("type", "RideRequest") %> Request &nbsp;
  <%= form.radio_button("type", "RideOffer") %> Offer
</div>

<div class="mt20">
  <%= form.text_field :origin, placeholder: "Origin City" %>
</div>

<div class="mt20">
  <%= form.text_field :origin_address, placeholder: "Origin Address", :class => "input-large" %>
</div>

<div class="mt20">
  <%= form.text_field :destination, placeholder: "Destination" %>
</div>

<div class="mt20">
  <%= form.text_field :destination_address, placeholder: "Destination Address", :class => "input-large" %>
</div>

<div class="mt20">
  <%= form.text_field :business_name, placeholder: "Company or Business Name" %>
</div>

<div class="mt20">
  <%= form.text_field :business_email, placeholder: "Work Email" %>
</div>

<div class="mt20">
  Commute days: <br>

  <% ["M", "T", "W", "Th", "F"].each do |day| %>
      <%= day %> <%= check_box_tag "commute_days[]", day, true, :id => "day_#{day}" %> &nbsp;
  <% end %>
</div>

<div class="mt20">
  Leave home:
  <%= form.select("leave_at", options_for_select(leave_home_at), {include_blank: true}) %>
</div>

<div class="mt20">
  Leave work:
  <%= form.select("return_at", options_for_select(leave_work_at), {include_blank: true}) %>
</div>

<div class="mt20">
  <%= form.text_field :total_seat, placeholder: "Total seat(s)" %>
</div>

<%= form.submit "Submit", class: "btn btn-large btn-success mt30" %>

