<tr id="ride_<%= ride.id %>">
  <td>
    <%= ride.origin %> <br>
    <%= ride.origin_address %>
  </td>
  <td>
    <%= ride.destination %>
  </td>
  <td>
    <%= ride.business_name %> <br>
    <%= ride.destination_address %>
  </td>
  <td>
    <%= ride.status %>:&nbsp;<%= pluralize(ride.total_seat, 'seat') %>
    <br>
    <% if ride.verified_business_email %>
        (Verified Work Email)
    <% end %>
  </td>
  <td>
    <%= ride.commute_days %>
  </td>
  <td>
    Leave : <%= ride.leave_at %> <br>
    Return: <%= ride.return_at %>
  </td>
  <td>
    <%= link_to "Contact", "", :class => "btn btn-small btn-success" %> <br>
  </td>
</tr>