<tr id="ride_<%= ride.id %>">
  <td>
    <%= ride.origin %> <br>
    (<%= ride.origin_address %>)
  </td>
  <td>
    <%= ride.destination %> <br>
    (<%= ride.destination_address %>)
  </td>
  <td>
    <%= ride.business_name %> <br>
    <% if ride.verified_business_email %>
        (Verified Work Email)
    <% end %>
  </td>
  <td>
    <%= ride.status %><br>
    <%= pluralize(ride.total_seat, 'seat') %>
  </td>
  <td>
    <%= ride.commute_days %> <br>
    Leave: <%= ride.leave_at %> &nbsp; Return: <%= ride.return_at %>
  </td>
</tr>