<div id="new_ride" class="center">
  <h1>New Ride</h1>
</div>


<div class="center">
  <%= form_for :ride, url: rides_url, method: :post do |form| %>
      <div>
        <%= form.radio_button("type", "RideRequest") %> Request &nbsp;
        <%= form.radio_button("type", "RideOffer") %> Offer
      </div>

      <div class="mt20">
        <%= form.text_field :origin, placeholder: "Origin" %>
      </div>

      <div class="mt20">
        <%= form.text_field :destination, placeholder: "Destination" %>
      </div>

      <div class="mt20">
        <%= form.text_field :total_seat, placeholder: "Total seat(s)" %>
      </div>

      <%= form.submit "Create", class: "btn btn-large btn-success mt30" %>
  <% end %>
</div>

